.topbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
.movie-name-input {
  width: 380px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  text-indent: 20px;
  font-size: 15px;
}
.movie-name-input::placeholder {
  font-size: 15px;
}
.click-button {
  margin-left: 40px;
  width: 90px;
  height: 40px;
  border: 1px solid black;
}
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
